.DS_Store
__pycache__/
*.pyc
.env
.env.local
*.log
node_modules/
".insightface/models/" 
"vendor/mediapipe/models/*.task" 
"*.wasm" 
".insightface/models/" 
"vendor/mediapipe/models/*.task" 
"*.wasm" 
".insightface/models/" 
"vendor/mediapipe/models/*.task" 
"*.wasm" 
.insightface/models/ 
vendor/mediapipe/models/*.task 
*.wasm 
